/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	scrollbar-base-color: #0000CC;
	scrollbar-face-color: #0000CC;
	scrollbar-track-color: #FFFF00;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-highlight-color:#FFFF00;
	scrollbar-3dlight-color: #FFFF00;
	scrollbar-shadow-color: #FFFF00;
	scrollbar-darkshadow-color: #FFFF00;
	background-color: #FFFF00;
	/* cursor:url(../images/gancho.cur); */
}
.tab_geral {
	border:8px solid #0002CA;
}
.tab_geral2 {
	border:1px solid #0002CA;
}
.t_texto {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000CC;
}
.t_texto_link{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
/* MENU */
#posicao_menu {
	margin-top:0px;
	margin-left:5px;
}	
/* FIM DO MENU */
.t_titulo {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000CC;
	text-decoration: none;
}

.t_texto_popup {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000CC;
	text-align: center;
}

.texto_pop_bottom {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000CC;
}

.t_titulo_p {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000CC;
	font-weight: bold;
	text-align: center;
}

.t_titulo_p1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000CC;
	font-weight: bold;
	text-align: left;
}

.t_titulo_popup {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	color: #0000CC;
	font-weight: bold;
	text-align: center;
}

.t_titulo_texto {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0000CC;
	text-align: center;
	text-decoration: underline;
}

.t_titulo_calend {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0000CC;
	text-decoration: underline;
}
.txt_calendario {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000CC;
	text-align:center;
}

a:link {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}

a:visited {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}

a:hover {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}

a:active {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}

#scroll {
  width:550px;
  height:550px;
  background-color:#FFFF00;
  overflow:auto;
}

#scroll2 {
  width:447px;
  height:200px;
  background-color:#FFFF00;
  overflow:auto;
}

#scroll3 {
  width:485px;
  height:350px;
  background-color:#FFFF00;
  overflow:auto;
}
