/* CSS Document */

body {

	margin-left: 0px;

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 0px;

	/* azul*/
	/*scrollbar-base-color: #0000CC;*/
	
	/* amarelo*/
	scrollbar-base-color: #FFFF00;

	scrollbar-face-color: #FF0000;
	
	/* azul*/
	scrollbar-track-color: #0000CC;
	
	/* amarelo*/
	/*scrollbar-track-color: #FFFF00;*/
	
	scrollbar-arrow-color: #FFFFFF;
	
	/* azul*/
	scrollbar-highlight-color:#0000CC;
	
	/* amarelo*/
	/*scrollbar-highlight-color:#FFFF00;*/
	
	/* azul*/
	scrollbar-3dlight-color: #0000CC;
	
	/* amarelo*/
	/*scrollbar-3dlight-color: #FFFF00;*/
	
	/* azul*/
	scrollbar-shadow-color: #0000CC;
	
	/* amarelo*/
	/*scrollbar-shadow-color: #FFFF00;*/
	
	/* azul*/
	scrollbar-darkshadow-color: #0000CC;
	
	/* amarelo*/
	/*scrollbar-darkshadow-color: #FFFF00;*/

	/* amarelo*/
	/*background-color: #FFFF00;*/
	
	/* azul*/
	background-color: #0000CC;

	/* cursor:url(../images/gancho.cur); */

}

.tab_geral {
	/*azul*/
	/*border:8px solid #0000CC;*/
	
	/*amarelo*/
	border:8px solid #FFFF00;

}

.tab_geral2 {

	/*azul*/
	/*border:1px solid #0000CC;*/
	
	/*amarelo*/
	border:1px solid #FFFF00;

}
.t_texto {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;
}

.tr_cal{
	/* amarelo */
	/*background-color:#CCCC00;*/
	
	/* azul */
	background-color:#5454d6;
}
.tr{
	/* amarelo */
	/*background-color:#FFFF00;*/
	
	/* azul */
	background-color:#0000CC;
}

.t_texto_link{

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	/*color: #FF0000;*/
	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

}

/* MENU */

#posicao_menu {

	margin-top:0px;

	margin-left:5px;

}	

/* FIM DO MENU */

.t_titulo {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

	text-decoration: none;

}

.t_titulo2 {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

	text-decoration: none;

	/*amarelo*/
	/*background-color:#FFFF00;*/
	
	/*azul*/
	background-color:#0000CC;

	overflow:auto;

	width: 160px;

}



.t_texto_popup {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

	text-align: center;

}



.texto_pop_bottom {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

}



.t_titulo_p {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

	font-weight: bold;

	text-align: center;

}

.f16 { font-size:16px !important; }

.t_titulo_p1 {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

	font-weight: bold;

	text-align: left;

}



.t_titulo_popup {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 16px;

	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

	font-weight: bold;

	text-align: center;

}



.t_titulo_texto {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: bold;	
	
	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

	text-align: center;

	text-decoration: underline;

}



.t_titulo_calend {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: bold;	
	
	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

	text-decoration: underline;

}

.txt_calendario {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;
	
	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

	text-align:center;

}



a:link {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	/*color: #FF0000;*/

	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

	text-decoration: none;

}



a:visited {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	/*color: #FF0000;*/

	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

	text-decoration: none;

}



a:hover {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	/*color: #FF0000;*/

	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

	text-decoration: none;

}



a:active {

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 12px;

	/*color: #FF0000;*/

	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;

	text-decoration: none;

}



#scroll {

  width:560px;

  height:550px;

  /*background-color:#FFFF00;*/
	
  /*azul*/
  background-color:#0000CC;
	
  /*amarelo*/
  /*background-color:#FFFF00;*/
  
  overflow:auto;

}



#scroll2 {

  width:447px;

  height:200px;

  /*background-color:#FFFF00;*/
	
  /*azul*/
  background-color:#0000CC;
	
  /*amarelo*/
  /*background-color:#FFFF00;*/

  overflow:auto;

}



#scroll3 {

  width:485px;

  height:350px;

  /*background-color:#FFFF00;*/
	
  /*azul*/
  background-color:#0000CC;
	
  /*amarelo*/
  /*background-color:#FFFF00;*/

  overflow:auto;

}



/* estilo do menu */





.subMenu

{

   display:block;

}



.subItem

{

	text-align:left;

	margin-top:0px;

	height:18px;

	font: bold 10px "Arial", Verdana, Helvetica, sans-serif, Times, serif;

	text-decoration:none;

	/*color: #0000ff;*/
	
	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;	

	border: 2px solid #0000FF;

	letter-spacing: 0px;

	border-width:0 1px 1px 1px 1px;

	cursor:pointer;

	width:160px;

}



.subItem a

{

	text-align:left;

	font: bold 10px "Arial", Verdana, Helvetica, sans-serif, Times, serif;

   	text-decoration:none;

	/*color: #0000ff;*/
	
	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;	

}



.subItemOver

{

	text-align: left;

   	margin-top:2px;

	font: bold 10px "Times New Roman", Times, serif;

   	height:18px;

	/*color: #0000ff;*/
	
	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;	

}



.subItemOver  a

{

	text-align:left;

	font: bold 10px "Times New Roman", Times, serif;

   	cursor:pointer;	

	/*color: #0000ff;*/
	
	/*azul*/
	/*color: #0000CC;*/
	
	/*amarelo*/
	color: #FFFF00;	

   	text-decoration:underline;

   	cursor:pointer;

}



DIV.lateral{



    position: absolute;

	border: 1px solid #ccc;

	height: 90%;

	margin-left: 3%;

	margin-top: 1%;

	z-index: 0;



}



DIV.central_superior{



    position: absolute;

	border: 1px solid #ccc;

	height: 90%;

	width: 77%;

	margin-left: 20%;

	margin-top: 1%;

	z-index: 1;

	

}

select.menu{

  /*background:#FFFF00;*/
	
  /*azul*/
  background:#0000CC;
	
  /*amarelo*/
  /*background:#FFFF00;*/

	width:100%;

	*width:auto;

	overflow:auto;

}



/* FIM DO MENU  */

